:root {
  --sm-breakpoint: 980px;
  --font-size-16-pixels: 16px;
  --boxshadow-gray-light: 6px 6px 3px rgba(0, 0, 0, 0.2);
  --border-gray: 1px solid #ccc;
  --color-primary: #0213ffc4;
  --box-shadow-primary: 6px 6px 3px rgba(0, 0, 0, 0.2);
}

body {
  display: block;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  position: relative;
  max-width: 1450px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.481);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}

input,
select,
textarea {
  padding: 6px 16px !important;
  height: 2rem;
  border-radius: 4px;
  border: var(--border-gray);
  box-shadow: var(--boxshadow-gray-light);
  max-width: 500px;
  color: #000;
  background-color: #fff;
  font-size: 1.2rem;
}

textarea {
  height: 200px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: var(--font-size-16-pixels);
  color: rgb(152, 152, 152);
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: var(--font-size-16-pixels);
  color: rgb(152, 152, 152);
}

input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: var(--font-size-16-pixels);
  color: rgb(152, 152, 152);
}

/* firefox 19+ */
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: var(--font-size-16-pixels);
  color: rgb(152, 152, 152);
}

input:hover,
/* select:hover, */
textarea:hover {
  margin: 0 -14px 0 -14px;
  transition: 1s ease;
}

button {
  content: "";
  height: 34px;
  background: var(--color-primary);
  color: rgb(255, 254, 254);
  font-weight: bold;
  font-size: 16px;
  max-width: 300px;
  border-radius: 12px;
  border: var(--border-gray);
  box-shadow: var(--boxshadow-gray-light);
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 12px;
  width: 100%;
}

button:hover {
  height: 44px;
  margin: 0 0 0 10px;
  transition: 1s ease;
}

ul {
  padding: 0px;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.w-100 {
  width: 100%;
}

.gap-1 {
  display: flex;
  gap: 0.5rem;
}

.gap-2 {
  display: flex;
  gap: 1rem;
}


.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-and-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-center{
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.max-width-1{
  max-width: 200px;
}

.max-width-2{
  max-width: 500px;
}

.max-width-3{
  max-width: 800px;
}

.mb-5{
  margin-bottom: 50px;
}